In [3]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [4]:
data = pd.read_csv('Sock_Data_Library.csv')

In [5]:
data.head()

,Row_Number,Time_Stamp,SockOwner1_Name,SockOwner1_Country,SockOwner1_Gender,SockOwner1_Age,SockOwner1_Smelliness,SockOwner2_Name,SockOwner2_Country,SockOwner2_Gender,SockOwner2_Age,SockOwner2_Smelliness
0,1,12:59:14,Riccardo Mussotti,Laos,F,7,0.85,Irvin Murtimer,Israel,M,17,0.86
1,2,13:04:59,Jud Acock,China,M,8,0.26,Abey Rosita,Portugal,M,14,0.10
2,3,1:18:37,Udale Christene,Bulgaria,M,9,0.91,Tann Olney,Russia,M,9,0.34
3,4,9:33:33,Dionysus Gooderidge,Ethiopia,M,60,0.62,Vassily Symper,Indonesia,M,64,0.14
4,5,18:25:37,Kalvin De Antoni,Honduras,M,78,0.81,Tito Twyford,Brazil,M,16,0.61

In [6]:
data.describe()

,Row_Number,SockOwner1_Age,SockOwner1_Smelliness,SockOwner2_Age,SockOwner2_Smelliness
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,500.500000,47.179000,0.508090,48.390000,0.516230
std,288.819436,27.811588,0.285294,27.162616,0.293264
min,1.000000,1.000000,0.010000,1.000000,0.000000
25%,250.750000,22.000000,0.250000,24.000000,0.260000
50%,500.500000,47.000000,0.520000,49.000000,0.530000
75%,750.250000,71.000000,0.760000,72.000000,0.772500
max,1000.000000,95.000000,1.000000,95.000000,1.000000