In [50]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [51]:
data = pd.read_csv('Sock_Data_Library_UPDATED.csv')

In [52]:
data.head()

,Row_Number,Time_Stamp,SockOwner1_Name,SockOwner1_Country,SockOwner1_Gender,SockOwner1_Age,SockOwner1_Smelliness,SockOwner2_Name,SockOwner2_Country,SockOwner2_Gender,SockOwner2_Age,SockOwner2_Smelliness
0,1,12:59:14,Riccardo Mussotti,Laos,F,13,0.43,Irvin Murtimer,Israel,M,37,0.80
1,2,13:04:59,Jud Acock,China,M,8,0.16,Abey Rosita,Portugal,M,14,0.19
2,3,1:18:37,Udale Christene,Bulgaria,M,9,0.26,Tann Olney,Russia,M,9,0.21
3,4,9:33:33,Dionysus Gooderidge,Ethiopia,M,60,0.93,Vassily Symper,Indonesia,M,64,0.39
4,5,18:25:37,Kalvin De Antoni,Honduras,M,78,0.61,Tito Twyford,Brazil,M,16,0.57

In [53]:
sockOwner1 = data.rename(index = str, columns={"SockOwner1_Name": "Name", "SockOwner1_Country": "Country", "SockOwner1_Gender": "Gender", "SockOwner1_Age": "Age", "SockOwner1_Smelliness":"Smelliness"})
sockOwner2 = data.rename(index = str, columns={"SockOwner2_Name": "Name", "SockOwner2_Country": "Country", "SockOwner2_Gender": "Gender", "SockOwner2_Age": "Age", "SockOwner2_Smelliness":"Smelliness"})

In [54]:
sockOwner1 = sockOwner1[['Name', 'Country', 'Gender', 'Age', 'Smelliness']]
sockOwner1.head()

                  Name   Country Gender  Age  Smelliness
0    Riccardo Mussotti      Laos      F   13        0.43
1            Jud Acock     China      M    8        0.16
2      Udale Christene  Bulgaria      M    9        0.26
3  Dionysus Gooderidge  Ethiopia      M   60        0.93
4     Kalvin De Antoni  Honduras      M   78        0.61

In [55]:
sockOwner2 = sockOwner2[['Name', 'Country', 'Gender', 'Age', 'Smelliness']]
sockOwner2.head()

             Name    Country Gender  Age  Smelliness
0  Irvin Murtimer     Israel      M   37        0.80
1     Abey Rosita   Portugal      M   14        0.19
2      Tann Olney     Russia      M    9        0.21
3  Vassily Symper  Indonesia      M   64        0.39
4    Tito Twyford     Brazil      M   16        0.57

In [59]:
data = sockOwner1.append(sockOwner2)
data.describe()

               Age   Smelliness
count  2000.000000  2000.000000
mean     47.797500     0.562605
std      27.477118     0.238311
min       1.000000     0.020000
25%      23.000000     0.380000
50%      48.000000     0.590000
75%      72.000000     0.760000
max      95.000000     0.950000